---
layout: page
---
<div class="post">
  <article>

    <!-- Professors Section (original) -->
    {% if page.professors %}
      <h2>Professors</h2>
      {% for profile in page.professors %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            <img src="{{ profile_image_path | relative_url }}" alt="test image" class="{{ profile_image_class }}">

          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <!-- Students Section (new) -->
    {% if page.students %}
      <h2>Students</h2>
      <div class="row">
        {% for student in page.students %}
          <div class="col-6 col-sm-4 col-md-3 mb-4 text-center">
            {% assign image_path = student.image | prepend: 'assets/img/' %}
            {% if student.image_circular %}
              {% assign image_class = 'img-fluid rounded-circle' %}
            {% else %}
              {% assign image_class = 'img-fluid rounded' %}
            {% endif %}
            {% include figure.liquid path=image_path class=image_class loading="lazy" alt="Student image" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Alumni Section (new) -->
    {% if page.alumni %}
      <h2>Alumni</h2>
      <div class="row">
        {% for alum in page.alumni %}
          <div class="col-6 col-sm-4 col-md-3 mb-4 text-center">
            {% assign image_path = alum.image | prepend: 'assets/img/' %}
            {% if alum.image_circular %}
              {% assign image_class = 'img-fluid rounded-circle' %}
            {% else %}
              {% assign image_class = 'img-fluid rounded' %}
            {% endif %}
            {% include figure.liquid path=image_path class=image_class loading="lazy" alt="Alumni image" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

  </article>
</div>
